<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          routerLink="/elements"
          routerLinkActive="active"
          class="nav-link"
          aria-current="page"
          >Elements</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/collections" routerLinkActive="active" class="nav-link"
          >Collections</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="views" routerLinkActive="active" class="nav-link"
          >Views</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="modules" routerLinkActive="active" class="nav-link"
          >Modules</a
        >
      </li>
    </ul>
  </header>
</div>

<hr />

<router-outlet></router-outlet>
